body
{
background:url(../img/back2.jpg)
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container1 {
background-color:#FFFFFF;
margin:auto;
width:400px;
padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.header1
{
width:80%;
border-radius:8px;
background-color:#FFFFFF;
margin:auto;
}
#text2
{

background: linear-gradient(to bottom, rgba(176,223,242,1) 0%, rgba(27,196,243,1) 50%, rgba(186,228,243,1) 100%);
margin-left:auto;
margin-right:auto;
width:300px;
height:35px;
text-align:center;
font-size:28px;
color:#330033;
padding:6px;
border:solid #336699 1px ;
border-radius:5px 34px 5px 34px;
}
.clear
{
padding:10px;

margin-top:10px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
	img{width:100%;
	height:auto}
}